[class*="c-icon-sprite--"]:after {
	content: unset;
	background: none;
	left: unset;
}

[class*="c-icon-sprite--"] {
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
}

[class*="c-icon-sprite--"].portrait {background-size: auto 100%;}
[class*="c-icon-sprite--"].landscape {background-size: 100% auto;}

.c-icon-sprite--stopwatch { background-image: url('/img/icons/icon-stopwatch.png'); }
.c-icon-sprite--shield { background-image: url('/img/icons/icon-shield.png'); }
.c-icon-sprite--cloud { background-image: url('/img/icons/icon-cloud.png'); background-size: 100% auto; }
.c-icon-sprite--money { background-image: url('/img/icons/icon-cost.png'); }
.c-icon-sprite--testtubes { background-image: url('/img/icons/icon-vials.png'); background-size: 100% auto; }
.c-icon-sprite--dna-1 { background-image: url('/img/icons/icon-dna.png'); }
.c-icon-sprite--dna-2 { background-image: url('/img/icons/icon-dna-binary.png'); }
.c-icon-sprite--microscope { background-image: url('/img/icons/icon-microscope.png'); }
.c-icon-sprite--pills { background-image: url('/img/icons/icon-pills.png'); }
.c-icon-sprite--dna-3 { background-image: url('/img/icons/icon-sequence.png'); }
.c-icon-sprite--testtube-search { background-image: url('/img/icons/icon-vial-magnify.png'); }
.c-icon-sprite--dashboard { background-image: url('/img/icons/icon-gauge.png'); }
