/*dropdown menu*/
.c-header .c-nav-main__item{
  position:relative;
}
.c-header .c-nav-main__item:hover ul{
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
  filter: alpha(Opacity=1);
}
.c-header .c-nav-main__item > ul{
  position: absolute;
  z-index: 9;
  list-style-type: none;
  padding: 0;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  width: 200px;
  margin-left: -20px;
  -moz-transition: ease-out .5s all;
  -o-transition: ease-out .5s all;
  -webkit-transition: ease-out .5s all;
  transition: ease-out .5s all;
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  filter: alpha(Opacity=0);
  opacity: 0;
}
.c-header .c-nav-main__item > ul li a, .c-header .c-nav-main__item > ul li a:visited{
  text-decoration:none;
  color:#1f497d;
  font-weight: 400;
  text-transform:capitalize;
}
.c-header .c-nav-main__item > ul li a:hover{
  color:#fe4b28;
}
.c-nav-main{
  overflow:visible;
}
  /*end dropdown menu*/

/*forms*/
  .otherdropdown{
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 0.875rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #dedfe0;
    color: #5d5f62;
    font-family: "jaf-bernino-sans","Lucida Sans Unicode","Lucida Grande",sans-serif;
    margin: 0;
    width: 100%;
    display: block;
    outline: none;
    line-height: normal;

}
  /*#rf-occupation:before{*/
    /*width: 10px;*/
    /*height: 10px;*/
    /*border-left: 10px solid transparent;*/
    /*border-right: 10px solid transparent;*/
    /*border-top: 10px solid #c2c2c2;*/
    /*content:" ";*/
    /*display:block;*/
  /*}*/
/*end forms menu*/

/*footer logo*/
  .c-footer-copy{
    opacity:1;
  }
  .c-footer-copy a, .c-footer-copy span{
    opacity:0.5;
  }
.c-footer-copy .footer-creditails{
  opacity:1;
  position:absolute;
  margin-left: 1rem;
  text-decoration:none;
}
.c-footer-copy .footer-creditails img{
  width: 33px;
  margin-left: 15px;
}
/*end footer logo */

/*news pagnitation */
.pagination-wrapper .pagination {
  float: right;
  background-color: white;
  border-radius: 3px;
  border-bottom: 1px solid #dddddd;
  padding:0;
  margin:0;
  list-style-type: none;
}
.pagination-wrapper .pagination li {
  border-left: 1px solid #dddddd;
  float: left;
  font-size: 0.75rem;
  line-height: 1.6em;
}
.pagination-wrapper .pagination li:nth-of-type(1){
  border-left:none;
}
.pagination-wrapper .pagination li a,
.pagination-wrapper .pagination li span{
  text-decoration: none;
  padding: 0.4rem .75rem;
  display: block;
  font-size: 0.75rem;
  line-height: 1.6em;
  color: #0484bc;
}
.pagination-wrapper .pagination li a:hover,
.pagination-wrapper .pagination li span:hover{
  text-decoration:none;
}
.pagination-wrapper .pagination li.active {
  background-color: #f5f5f5;
  border-left: 1px solid #dddddd;
}
.pagination-wrapper .pagination li a:hover,
.pagination-wrapper .pagination li span:hover{
  text-decoration:none;
}
/* end news pagnitation */


/* .c-choice__icon {
left: unset;
top: 1rem;
right: 1rem;
} */
/* .c-choice__block-link {position: relative;} */
.c-choice__icon {
  top: unset;
  left: unset;
  right: unset;
  top: 2rem;
  left: 100%;
  margin-left: -5rem;
}

.c-intro__empty {
height: 12rem;
}

.c-intro {
  min-height: 303px;
}

.u-align-right {
text-align: right;
}

.c-button .fa {
vertical-align: middle;
}

.c-social-links.u-align-right .c-social-links__item {
float: right;
margin-right: unset;
margin-left: 1rem;
}

.share-help-text {text-transform: uppercase;}

.c-card__content .c-calendar {
box-shadow: 0 0 0 1px rgba(6,6,7,0.05),0 10px 35px rgba(6,6,7,0.1);
box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
/* float: right;
top: -6rem;
margin-bottom: 0; */
position: absolute;
top: 160px;
right: 3rem;
}

/* .c-card__content .c-social-links {display: none;} */

.o-sidebar__heading {
padding: 1rem;
}

.o-sidebar__title {
margin-bottom: 0;
text-align: center;
}

.o-taglist {
margin: .5rem 0;
}

.o-taglist__item {
font-size: 0.6rem;
padding-top: 0.5rem;
padding-bottom: 0.4rem;
letter-spacing: 0;
margin-bottom: 0.4rem;
}

.o-sidebar ul {
margin-top: .5rem;
padding-left: 0;
list-style: none;
}

.o-catlist__item,
.o-archive__item {
text-transform: uppercase;
font-size: 0.8rem;
font-weight: bold;
padding: 0.5rem;
}

.o-catlist__item__border + .o-catlist__item__border,
.o-archive__item__border + .o-archive__item__border {
border-top: 1px solid #dedfe0;
}

.o-archive__item {
font-size: 1rem;
}

.o-link__noline {
text-decoration: none !important;
}

.c-button--ghost-alpha:hover,
.c-button--ghost-alpha:focus {
color: white;
}
.c-button--ghost-gamma:hover,
.c-button--ghost-gamma:focus {
  background-color: #fe6041;
  border-color: #fe6041;
  color: white;
}

.u-square,
.u-circle{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}
.u-square img,
.u-circle img{
    position:absolute;
}


.o-media .u-circle img,
.o-media .u-square img {
  border-radius: 50%;
}

.u-no-letter-spacing {
  letter-spacing: 0;
}

.o-media p {
  line-height: 1.2;
}

.o-comments__heading {
  border-bottom: 1px solid #DEDFE0;
}

.c-social-links__inv .c-social-links__link {
  color: white;
  padding: 0.2rem 0.5rem;
}

.c-social-links__inv .c-icon {
  vertical-align: middle;
}

.c-button--facebook {
  background-color: #3d5998;
}
.c-button--twitter {
  background-color: #43b1ca;
}
.c-button--linkedin {
  background-color: #2884a9;
}

.scrollTarget {
  position: relative;
}
.c-stepmenu a {color: white !important;}
/* .c-stepmenu,
.c-card__title {
  transition: all 250ms ease-out;
} */
.c-stepmenu.affix-top {
  position: static;
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.c-stepmenu.affix-top .c-card__title {
  margin-bottom: 1rem;
}
.c-stepmenu.affix {
  position: fixed;
  top: 0;
  padding-top: 1.5rem;
  z-index: 99;
  width: 100%;
}
.c-stepmenu.affix .c-card__title {
  margin-bottom: 0;
}
.c-stepmenu.affix + .c-steplist .scrollTarget:target {
  padding-top: 180px;
}
.c-stepmenu .c-step.active .c-step__content { border-bottom: 1px dotted #0596D5; }
.c-stepmenu .c-step.active .c-step__number:before,
.c-stepmenu .c-step.active .c-step__number:after {
  content: '';
  background: transparent url('../img/png/hex-border.png') 50% 50% no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 1500ms ease-out;
  background-size: 130%;
}

@keyframes radiate1 {
  0% {
    transform: scale(0.8);
    opacity: 1;
  }
  15% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  50%,100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@keyframes radiate2 {
  0%,14% {
    opacity: 0;
  }
  15% {
    transform: scale(0.8);
    opacity: 1;
  }
  60%,100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.c-stepmenu .c-step.active .c-step__number:before {
   animation: radiate1 1500ms infinite;
}
.c-stepmenu .c-step.active .c-step__number:after {
   animation: radiate2 1500ms infinite;
}
.o-label {
  background-color: #FE4B28;
  color: white;
  position: absolute;
  top: 2rem;
  right: 1rem;
  padding: .1rem .25rem;
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.c-icon--clinical_lab:before {
  content: url('../img/png/clinical_lab_icon.png');
}

.c-icon-sprite--money2:after {
  background-image: url('../img/png/cost_effective_icon.png');
  background-repeat: no-repeat;
  width: 58px;
  left: 0;
}

.o-event .c-calendar {
  float: left;
  margin-right: 1rem;
  margin-left: 0;
  margin-top: 0;
  width: 6.6rem;
}
.o-event .c-calendar .c-calendar__title {
  line-height: 3;
}
.o-event .c-calendar .c-calendar__content {
  padding: .75rem 0rem .5rem 0rem;
}
.c-pagination__list {
  float: right;
  background-color: white;
  border-radius: 3px;
  border-bottom: 1px solid #dddddd;
}
.c-pagination__link {
  text-decoration: none;
  padding: 0.4rem .75rem;
}
span.c-pagination__link {
  color: #0484bc;
}
.o-list--horizontal .o-list__item.c-pagination__item {
  margin-right: unset;
}
.c-pagination__item + .c-pagination__item {
  border-left: 1px solid #dddddd;
}
.c-pagination__item.is-previous,
.c-pagination__item.is-current {
  cursor: default;
}
.c-pagination__item.is-current {
  background-color: #f5f5f5;
}

.o-list--spaced .o-list__item {
  margin-right: 2rem;
}

.u-float-left {float: left;}
.o-downloads__img {
  margin-right: 1.5rem;
}
abbr[title], dfn[title] {
  text-decoration: none;
}
.o-collab.flex-container { display: -webkit-flex; display: flex; -webkit-flex-flow: row; flex-flow: row; -webkit-justify-content: space-between; justify-content:space-between; }
.o-collab .flex-item { -webkit-flex: 1 0 300px; flex: 1 0 300px; margin-left: .75rem; margin-right: .75rem; }
.o-collab .overlay {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  background-color: gray;
  mix-blend-mode: hue;
  opacity: 1;
  transition: opacity 150ms ease-in;
}
.o-collab .Aligner:hover .overlay {
  opacity: 0;
}
.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 14rem;
  padding: 1rem;
}
.Aligner-item {
  max-width: 80%;
}

.Aligner img {
  max-height: 120px;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}
.c-social-links .c-social-links__item {
  margin-right: 2rem;
}

.jquery-modal.blocker {z-index: 50;}
#loginModal,
#registrationModal,
#datacardModal,
#fectModal {
  width: unset;
}
.behindthecurtain {display: none;}
#datacardModal, #fectModal {width: 100%;}

.o-table-files td:first-child,
.o-table-files th:first-child {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: left;
}
.o-table-files td:last-child,
.o-table-files th:last-child {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: right;
}
@media screen and (min-width: 680px) {
  .o-table-files td:first-child,
  .o-table-files th:first-child {
    padding-left: 2rem;
    padding-right: 1rem;
  }
  .o-table-files td:last-child,
  .o-table-files th:last-child {
    padding-left: 1rem;
    padding-right: 2rem;
    text-align: left;
  }
}
.o-table-files tr+tr td,
.o-table-files tr+tr th {
  border-top: 1px solid #dedfe1;
}
.o-table-files td+td {
  border-left: 1px solid #dedfe1;
}

.c-step:before, .c-step:after {
  min-width: 124px;
  width: 48%;
  width: -webkit-calc(50% - 2rem);
  width: calc(50% - 2rem);
}

.c-button--social {
  text-transform: none;
  letter-spacing: 0px;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: .66rem;
}

.c-button--social [class*="c-icon--"] {
  vertical-align: bottom;
}

.c-button--social [class*="c-icon--"]:before {
  font-size: 1rem;
  margin-right: .2rem;
}

.c-button--social.c-button--facebook {
  background-color: #3d5998;
  border-color: #3d5998;
}
.c-button--social.c-button--facebook,
.c-button--social.c-button--facebook:visited {
  color: white;
}
.c-button--social.c-button--facebook:hover,
.c-button--social.c-button--facebook:focus {
  background-color: #4f6fb9;
  border-color: #4f6fb9;
  color: #fff;
}
.c-button--social.c-button--facebook:active {
  background-color: #3d5998;
  border-color: #3d5998;
}

.c-button--social.c-button--twitter {
  background-color: #43b1ca;
  border-color: #43b1ca;
}
.c-button--social.c-button--twitter,
.c-button--social.c-button--twitter:visited {
  color: white;
}
.c-button--social.c-button--twitter:hover,
.c-button--social.c-button--twitter:focus {
  background-color: #6bc2d5;
  border-color: #6bc2d5;
  color: #fff;
}
.c-button--social.c-button--twitter:active {
  background-color: #43b1ca;
  border-color: #43b1ca;
}

.c-button--social.c-button--linkedin {
  background-color: #2884a9;
  border-color: #2884a9;
}
.c-button--social.c-button--linkedin,
.c-button--social.c-button--linkedin:visited {
  color: white;
}
.c-button--social.c-button--linkedin:hover,
.c-button--social.c-button--linkedin:focus {
  background-color: #34a3cf;
  border-color: #34a3cf;
  color: #fff;
}
.c-button--social.c-button--linkedin:active {
  background-color: #2884a9;
  border-color: #2884a9;
}

/* .c-social-links__link .c-icon--envelope:hover {color: #43b1ca;} */
.c-social-links__link .c-icon--facebook:hover {color: #3d5998;}
.c-social-links__link .c-icon--facebook-f:hover {color: #3d5998;}
.c-social-links__link .c-icon--twitter:hover {color: #43b1ca;}
.c-social-links__link .c-icon--linkedin:hover {color: #2884a9;}

input[type="file"] {border-style: dashed;}

input[type="checkbox"] {display: none;}
#pf-checkbox + label {vertical-align: -12px;}

input[type=checkbox].css-checkbox + label.css-label {
  padding-left:29px;
  height:24px;
  display:inline-block;
  line-height:24px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:24px;
  vertical-align:middle;
  cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -24px;
}

label.css-label {
  background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_386dc4744b6563661b3277496a81bd37.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.news-slider .slick-slide,
.events-slider .slick-slide,
.downloads-slider .slick-slide {
  padding-left: 1rem;
  padding-right: 1rem;
}

.slick-slide .c-card--alpha {
  box-shadow: 0 0 0 1px rgba(6,6,7,0.05),0 10px .5rem rgba(6,6,7,0.1);
}

.slick-slide .c-card__title.js-truncate {
  height: 64px;
  overflow-y: hidden;
}

.slick-slide .c-card__body.js-truncate,
.c-card__content .js-truncate {
  height: 117px;
  overflow: hidden;
}

.slick-slide .c-social-links {display: none;}

.list-item.js-truncate {
  height: 122px;
  overflow-y: hidden;
}

.o-media__body {
  overflow: unset;
}

@media only screen and (min-width:960px){
  /* .o-downloads__img {
    max-width: 124px;
  } */
  .o-media__body {
    overflow: hidden;
  }
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 5px solid black;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-top: 10px solid black;
}

.dropdown {
  position: relative;
  display: block;
}

.dropdown:after {
  position: absolute;
  display: block;
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-top: 10px solid #DEDFE0;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
  pointer-events: none;
}

.b-error {display: none;}

span.center {
  margin: 0 auto;
  display: block;
}

.c-intro__image.c-background-image {
  background-position: top center;
}

.use-case-body h2 {
  margin-bottom: .5rem;
}

@media only screen and (max-width:960px){
  .c-choice__block-link .c-choice__heading {
    font-size: 0.8rem;
  }
  .c-choice__block-link .c-choice__icon {
    top: 1rem;
    max-width: 40px;
    margin-bottom: 0;
    margin-left: -3.5rem;
    line-height: unset;
    height: unset;
  }
  .c-choice__block-link .c-choice__title {
    font-size: 1rem;
  }
  .c-choice__block-link .c-choice__desc {
    line-height: 1;
  }
}

@media only screen and (max-width:1140px){
  .c-nav-main{
    overflow: hidden;
  }
}

@media only screen and (max-width:960px){
  .c-calendar{
    display: none;
  }
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/* Safari */
html[xmlns*=""] body:last-child .oh-safari,
html[xmlns*=""]:root .oh-safari,
_::-moz-svg-foreign-content, :root .oh-safari {
  left: 100%;
  margin-left: -80px;
}

html[xmlns*=""] body:last-child .c-social-links.u-align-right .c-social-links__item,
html[xmlns*=""]:root .c-social-links.u-align-right .c-social-links__item,
_::-moz-svg-foreign-content, :root .c-social-links.u-align-right .c-social-links__item {
  float: none !important;
  display: inline-block;
}

html[xmlns*=""] body:last-child .modal,
html[xmlns*=""]:root .modal,
_::-moz-svg-foreign-content, :root .modal {
  vertical-align: top;
}
